.App {
  text-align: center;
}

.hidden {
  display: none;
}

h1 {
  display: inline;
  margin-left: 7%;
}

#logout {
  float: right;

}

form {
  margin-top:80px;
}
input {
  margin:10px;
}

#fileUpload {
  margin-left: 43%;
  padding-bottom: 15px;
}

ul {
  margin-top:15px;
  padding: 0;
}

li {
  list-style: none;
  border: solid;
  display: flex;
  width: 100%;
  overflow-x:scroll;
}


.songName {
  width:700px;
}
.name {
  font-size: 25px;
}
.uploadedBy {
  font-size: 15px;
}

.player {
  margin-top:.5%;
}

.trash, .empty, .like {
  width:100px;
  margin-top:19px;
}

.like {
  padding-left: 20px;
}

.fa-trash, .fa-edit, .fa-times, .fa-thumbs-up, .fa-thumbs-o-up {
  cursor: pointer;
}

.numLikes {
  margin-left: 5px;
}