.App {
  text-align: center;
  height: 100vh;
  background-color: lightblue;
}

.hidden {
  display: none;
}

.page-header {
  margin-top: 15px;
  padding-bottom: 20px;
}

h1 {
  display: inline;
  margin-left: 7%;
}

#logout {
  float: right;
  margin-top: 5px;

}

form {
  padding-top:80px;
}
input {
  margin:10px;
}

#search {
  width:100%;
  background-image: url('searchicon.png');
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 1%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
#search:focus {
  background-image: none;

}
#search:focus::placeholder {
  color: transparent;
}

#fileUpload {
  margin-left: 43%;
  padding-bottom: 15px;
}

ul {
  margin-top:15px;
  padding: 0;
}

li {
  list-style: none;
  background-color: white;
  border: 2px transparent;
  border-radius:5px;
  display: flex;
  width: 100%;
  overflow-x:scroll;
  margin-bottom: 5px;

}


.songName {
  width:700px;
}
.name {
  font-size: 25px;
}
.uploadedBy {
  font-size: 15px;
}

.player {
  margin-top:.5%;
}

.trash, .empty, .like {
  width:100px;
  margin-top:19px;
}

.like {
  padding-left: 10px;
}

.fa-trash, .fa-edit, .fa-times, .fa-thumbs-up, .fa-thumbs-o-up {
  cursor: pointer;
}

.numLikes {
  margin-right:5px;
}